body{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: #000;
    color: white;
}

a img{
    border: 0;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;

}

a{
    border: none;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

#wrap{
    width: 998px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 100px;
    position: relative;
}

#header{
    height: 120px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #181818;
}

#headLeft{
    width: 587px;
    float: left;
    padding: 20px 0 12px 12px;
}
#headLeft p{
    margin-top: -9px;
    text-indent: 6%;
}
#navRight{
    width: 398px;
    float: right;
    padding: 48px 0 12px 0;
    font-size: 14px;
    font-weight: bold;
}

#nav li{
    float: left;
    padding-right: 10px;
    padding-left: 30px;
}

#download{
    position: absolute;
    z-index: 1;
}

#download li{
    clear: both;
    padding: 6px;
    z-index: inherit;
}

#bannerBox{
    width: 100%;
    padding: 0px 34px 16px 0px;
    position: relative;
}

#tj{
    padding: 6px;
}

#photo{
    padding-top: 60px;
    padding-bottom: 60px;
}

#photo1{
    background: url("image/bagPhotos1.png") 50% 62% no-repeat;
    height: 700px;
    background-size: 699.3px 529.2px;
    
}
#photo2{
    background: url("image/bagPhotos2.png") 50% 10% no-repeat;
    background-size: 699.3px 529.2px;
    width: 100%;
    height: 700px;
    
}
#goPhoto{
    position: absolute;
    left: 40%;
    font-size: 1.4em;
}

#banner{
    width: 998px;
    height: 180px;
    top: 90%;
}

#arrowLeft img, #arrowRight img{
    width: 3em;
    height: 3em;
}

#arrowLeft{
    display: none;
}

#arrowRight{
    display: block;
}


#arrowLeft img{
    position: absolute;
    top: 50%;
    left: 0.2em;
}
#arrowRight img{
    position: absolute;
    top: 50%;
    left: 93%;
}

.dot{
    position: absolute;
    top: 90%;
    left: 38%;
}
.dot li{
    float: left;
}

#main{
    width: 100%;
    height: 400px;
}

#content{
    float: left;
    width: 70%;
    height: 400px;
    background: url("image/bankg.jpg") 0% 100% no-repeat;
}

#bck{
    position: relative;
    top: 0%;
    left: 30%;
}

#hello{
    z-index: 1;
    transform: translate3d(0px, 0px, 1px);
    opacity: 1;
    line-height: 70px;
    letter-spacing: 12px;
    font-size: 32px;
}

#jj{
    z-index: 2;
    opacity: 0.8;
    transform: matrix(1, 0, 0, 1, 0, 0);
    letter-spacing: 10px;
    font-size: 22px;
    
}
    
#sub{
    float: right;
    width: 30%;
    top: 10%;
}
#we{    
    width: 100%;
    height: 40%;
    background: url("image/duoyun.png") 50% 100%  no-repeat;
}
#tips{
    width: 100%;
    border: 1em;
}
#tips img{
    width: 80%;
    height: 100%;
}

#footer{
    position: absolute;
    width: 978px;
    height: 100px;
    background-color: #161616;
    padding: 16px 0 2em 2em;
    bottom: 0px;
}